@model IEnumerable<GeekShopping.WEB.Models.ProductModel>
<form>
    <div class="container row">
        @foreach(var product in Model)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
            </div>
        }
    </div>
</form>